{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Eliminar empleado
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <p> Esta seguro de eliminar el empleado {{object}}> </p>
            <br>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
{% endblock content %}
